<!DOCTYPE html>
<html>

    <head>
        <title>Upload</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- custom css -->
        <link rel='stylesheet' href="/stylesheets/sucUploaded.css" />
    </head>

    <body>
        <div class="jumbotron">
            <h1 class="display-4">Uploaded successfully!</h1>
            <p class="lead">Check your folder</p>
            <hr class="my-4">

            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/upload" role="button">Upload more</a>
            </p>
        </div>
    </body>

</html>
